In [1]:
import pandas as pd

In [2]:
data = {
    "Name": ["Sohag", "Halim", "Himel", "Mizan", "Rubel"],
    "Age": [24, 25, 23, 26, 21],
    "Gender": ["Male","Male","Male","Male","Male"],
    "Marks": [80, 85, 88.8, 90.4, 96]
}

df = pd.DataFrame(data)
df

    Name  Age Gender  Marks
0  Sohag   24   Male   80.0
1  Halim   25   Male   85.0
2  Himel   23   Male   88.8
3  Mizan   26   Male   90.4
4  Rubel   21   Male   96.0

In [3]:
df['Marks'].mean()

88.04

In [4]:
df['Marks'].max()

96.0

In [6]:
df['Marks'].min()

80.0

In [7]:
df['Marks'].median()

88.8

In [8]:
df['Marks'].mode()

0    80.0
1    85.0
2    88.8
3    90.4
4    96.0
Name: Marks, dtype: float64

In [10]:
df['Marks'].var()

35.848000000000006

In [12]:
df['Marks'].std()

5.987319934661919

In [13]:
df.describe()

             Age     Marks
count   5.000000   5.00000
mean   23.800000  88.04000
std     1.923538   5.98732
min    21.000000  80.00000
25%    23.000000  85.00000
50%    24.000000  88.80000
75%    25.000000  90.40000
max    26.000000  96.00000