In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('weather.csv')
df

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [6]:
concepts = np.array(df)[:,:-1]

In [7]:
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [8]:
target = np.array(df)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [9]:
def train(con, tar):
    for i, val in enumerate(tar):
        if val.lower()=='yes':
            specific_h = con[i].copy()
            break
    for i, val in enumerate(con):
        if tar[i].lower()=='yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h

In [10]:
print(train(concepts, target))

['sunny' 'warm' '?' 'strong' '?' '?']